*

!derivations/

!hosts/
!hosts/enka/

!modules/
!modules/bat/
!modules/blueman/
!modules/boot/
!modules/btop/
!modules/discord/
!modules/dunst/
!modules/firefox/
!modules/fonts/
!modules/fuzzel/
!modules/ghostty/
!modules/git/
!modules/greetd/
!modules/gtk/
!modules/helix/
!modules/hyprland/
!modules/kitty/
!modules/localisation/
!modules/logind/
!modules/networkmanager/
!modules/nix/
!modules/nushell/
!modules/openttd/
!modules/packages/
!modules/pipewire/
!modules/pueue/
!modules/python/
!modules/qt/
!modules/ripgrep/
!modules/rust/
!modules/steam/
!modules/steck/
!modules/sudo/
!modules/waybar/

!lib/

!.gitignore
!flake.lock

!*.lua
!*.md
!*.nix
!*.nu
!*.opus
!*.png
!*.sh
