*

!.gitignore

!hosts/
!hosts/**/
!lib/
!lib/**/
!modules/
!modules/**/
!options/
!options/**/
!services/
!services/**/

!flake.nix
!flake.lock

!*.nix
!*.nu
!*.age

!*.keymap
!*.md
!*.png
!*.yml
!*.json

!packages/
!packages/**/
packages/*/.direnv/
packages/*/target/
!packages/**/*.rs
!packages/**/*.toml
!packages/**/Cargo.lock
!packages/**/.envrc
